rootpanel {
    pointer-events: all;
    flex-direction: column;
    align-items: center;

    .buttons {
        position: absolute;
        padding: 35px 35px;
        top: 20%;
        bottom: 20%;
        justify-content: center;
        align-items: flex-end;
        background-color: rgba( #111, 0.6 );
    }

    .select-class-label {
        position: absolute;
        padding: 35px 35px;
        top: 20%;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
}

ClassMenuButton {
    cursor: pointer;
    position: relative;
    margin: 0px 5px;
    width: 200px;
    height: 60%;
    background-color: rgba( #888, 1 );
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    pointer-events: all;
    transform-origin: left;

    .label {
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
        bottom: 0px;
        position: absolute;
        padding: 35px 0px;
        text-shadow: 0px 2px 3px black;
    }
}

ClassMenuButton:hover {
    transform: perspective(1400px) rotateY(40deg);
    transition: .45s;
}
